/* body */
body{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    background-color: black;
}
/* container */
.container{
    box-sizing: border-box;
    max-width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    border-right: 10px solid brown;
    border-left: 10px solid brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}
/* button */
.btn{
    padding: 1rem 1.5rem;
    letter-spacing: 0.1rem;
    border-radius: 1rem;
    font-weight: bold;
    border: none;
    background-color: hsl(0, 59%, 41%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    min-width: 12rem;
    font-size: 1.5rem;
}

.btn span{
    font-size: 2rem;
}

.btn:hover{
    cursor: pointer;
    scale: 105%;
    background-color: hsl(0, 59%, 51%);
}
/* button for add */
.btn.add{
    background-color: hsl(0, 0%, 0%);
    margin-bottom: 0;
}

.btn.add:hover{
    background-color: hsl(0, 0%, 10%);
}
/* logo container */
.logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    min-width: 100%;
    border-bottom: 10px solid brown;
    margin-bottom: 1rem;
}

.logo_container .logo{
    font-weight: 900;
}
/* user container */
.user_container{
    background-color: hsl(0, 59%, 41%);
    color: white;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    position: relative;
}

.user_container .close_img{
    cursor: pointer;
    scale: 0.2;
    position: absolute;
    top: -6rem;
    right: -6rem;
}
/* adding new profile container */
.new_profile_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: hsl(0, 59%, 41%);
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    border-radius: 1rem;
}

.new_profile_container #new_user_input{
    border: none;
    padding: 1.2rem 1rem;
    border-radius: 1rem;
}

.new_profile_container #new_user_input:{
    scale: 3;
}